<!DOCTYPE html>
<html>
<head>
  <title>Music Playlist Manager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %> <!-- Add this line -->
  <!-- Other tags -->
</head>
<body>
  <%= yield %>
</body>
</html>
